.top-header {
  position: relative;
  height: 105px;
  background-color: #fff;

  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    top: 100%;
    background-image: url(img/bottom.png);
    background-repeat: repeat-x;
    background-position: center;
    z-index: 1;
  }

  .wrapper {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
  }
  .header-column {
    width: 33.33%;

    &.search {
      display: flex;

      .menu-btn__box {
        width: 20px;
        text-align: center;
        font-size: 20px;
        color: $dark;
        cursor: pointer;
      }

      .search__box {
        margin-left: 30px;

        fieldset {
          border: none;
          &:before {
            content: '\f002';
            display: inline-block;
            margin-right: 10px;
            font: normal normal normal 12px/1 FontAwesome;
            color: $grey;
          }
        }
        .searchinput {
          font-size: 13px;
          border: none;
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $grey;
            font-size: 12px;
            font-style: italic;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: $grey;
            font-size: 12px;
            font-style: italic;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: $grey;
            font-size: 12px;
            font-style: italic;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: $grey;
            font-size: 12px;
            font-style: italic;
          }
        }
        #searchsubmit {
          display: none;
        }
      }
    }

    &.logo {
      text-align: center;
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 0.6;
      }
    }

    &.social {
      text-align: right;
      font-size: 20px;
      color: $grey;

      a {
        color: inherit;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: $dark-grey;
        }
      }
      i {
        margin-left: 30px;
      }
    }
  }

  .top-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 90px;
    background: $dark;
    font-size: 14px;
    font-family: Arial, sans-serif;
    z-index: 99;

    .wrapper {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        display: block;
        left: 6px;
        top: -4px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 3.5px 4px 3.5px;
        border-color: transparent transparent $dark transparent;
      }

    }

    .headermenu {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      height: 100%;
      // justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        position: relative;
        color: #fff;
        text-align: center;
        &:first-child {
          a {
            padding-left: 0;
          }
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
        &.current-menu-item {
          a {
            color: $yellow;
          }
        }
        &:after {
          content: '\f111';
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -3px;
          font: normal normal normal 6px/1 FontAwesome;
          color: #434242;
        }

        &:hover {
          >.sub-menu {
            display: block;
          }
        }

        .sub-menu {
          display: none;
          padding: 30px 0;
          margin: 0;
          margin-top: -3px;
          width: 140px;
          background-color: #fff;
          color: $dark-grey;
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -70px;
          list-style: none;
          border-top: 3px solid $yellow;

          &:after {
            content: '';
            position: absolute;
            display: block;
            left: 50%;
            margin-left: -2px;
            top: -7px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 3.5px 4px 3.5px;
            border-color: transparent transparent $yellow transparent;
          }

          li {
            text-align: left;
            padding: 0 20px;
            &:after {
              content: '';
            }
            &:last-child {
              a {
                border-bottom: none;
              }
            }
            &.menu-item-has-children {
              >a {
                &:after {
                  content: "\f054";
                  font: normal normal normal 10px/1 FontAwesome;
                  color: $yellow;
                  position: relative;
                  left: 10px;
                }
              }
            }
          }

          a {
            padding: 10px 0;
            display: inline-block;
            min-height: auto;
            color: $dark-grey;
            border-bottom: 1px solid $grey;
          }

          .sub-menu {
            left: 150%;
            top: 0;
            border-top: none;
            box-shadow: inset 2px 0 0 rgba(0, 0, 0, 0.03);
            &:after {
              content: '';
            }

            a {
              &:hover {
                color: $purple;
                text-decoration: underline;
              }
            }
          }
        }

      }
      a {
        padding: 0 30px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: 90px;
        color: inherit;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: $yellow;
        }
      }

    }

    .donate {
      margin-left: auto;
      a {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        min-height: 90px;
        color: $yellow;
        font-family: Arial;
        font-size: 14px;
        font-weight: 700;
        line-height: 48px;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        border-bottom: 3px solid transparent;
        &:hover {
          border-bottom: 3px solid $yellow;
        }
      }
    }
  }
}

// inner header
.inner-header {
  background-color: $purple;
  color: #b18b99;

  .wrapper {
    padding: 20px 0;
    min-height: 68px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .breadcrumbs {
    font-family: 'Droid Serif';
    font-size: 12px;

    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
